@page "/MemberDetails/{memberId}"
@using Models
@inject Services.MemberService _memberService
@inject NavigationManager _navigationManager
<h3>Member Details</h3>

<div class="col-sm-8">
    <div class="card">
        @if (MemberModel != null && MemberModel.Party != null)
        {
            <div class="card-header">
                <h2>@MemberModel.FirstName  @MemberModel.LastName</h2>
            </div>
            <div class="card-body text-center">
                <h4>Member ID : @MemberModel.MemberId</h4>
                <h4>Party : @MemberModel.Party.Name</h4>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-primary" href="/members">Back</a>
                <a class="btn btn-primary" href="updatemember/@MemberModel.MemberId">Edit</a>
                <button class="btn btn-danger" @onclick="DeleteMember">Delete</button>
            </div>
        }
    </div>
    </div>

    @code {

        [Parameter]
        public string MemberId { get; set; }

        public Member MemberModel { get; set; } = new Member();

        protected override async Task OnInitializedAsync()
        {
            MemberModel = await _memberService.GetMemberAsync(int.Parse(MemberId));
        }

        protected async void DeleteMember()
        {
            await _memberService.DeleteMemberAsync(MemberModel);
            _navigationManager.NavigateTo("Members");
        }

    }
